.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center the Enter Tree ID block */
.tree-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tree-input-container input {
  padding: 10px;
  width: 300px; /* Fixed width to make it centered and balanced */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tree-input-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.tree-input-container button:hover {
  background-color: #0056b3;
}

/* Tree List Container */
.tree-list-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Truncate the description properly */
.tree-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.tree-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Tree Info Block */
.tree-info {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.tree-info strong {
  color: #007bff;
}